<!DOCTYPE html>
<html>
<head>
	<title>Inserisci Partita</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Inserisci Partecipazione</h2>
      <p>Partita del {{ partita.data }}</p>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Salva</button>
      </form>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>